.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 2rem;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
