.meta-data {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  color: black;
  padding: 10px;
}

.meta-data h2 {
  font-size: 3rem;
  margin: 0;
  text-align: left;
  font-size: large;
}

.meta-data p {
  font-size: 3rem;
  margin: 0;
  text-align: left;
  font-size: large;
}
